<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>
  <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">

  <style>
  @font-face {
    font-family: 'Cyroglyph';
    src: url('{{ site.typography.font_url }}') format('woff2');
    font-display: swap;
    font-weight: normal; /* EXPLICITLY NORMAL */
    font-style: normal;  /* EXPLICITLY NORMAL */
    font-stretch: normal; /* NO CONDENSED/EXPANDED */
  }
  </style>
</head>
